<div menu></div>
<div header></div>
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Listados de Proveedores</h2>
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-xs-12">
							<h2 class="line_30"></h2>
							<br>
							<table class="countries_list">
								<thead>
									<tr>
										<td>Id</td>
										<td><strong>Nombre de Proveedor</strong></td>
										<td class="fs15 fw700 text-right"><strong>RUC</strong></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in data">
										<td style="width:40px">{{item.id}}</td>
										<td>{{item.descripcion}}</td>
										<td class="fs15 fw700 text-right">{{item.ruc}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Añadir Proveedores</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br />
				<form novalidate class="form-horizontal form-label-left" method="post" ng-controller="proveedorController">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre de Proveedor</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
					  		<input type="text" class="form-control" placeholder="Nombre de Proveedor" ng-model="descripcion">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">RUC</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" class="form-control" placeholder="RUC" ng-model="ruc">
						</div>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
							<button type="button" class="btn btn-primary">Cancel</button>
							<button type="reset" class="btn btn-primary">Reset</button>
							<button type="submit" ng-click="insertarProveedor()"class="btn btn-success">Guardar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Modificar Proveedores</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br />
				<form novalidate class="form-horizontal form-label-left" method="post" ng-controller="proveedorController">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Id Proveedor</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
					  		<input type="text" class="form-control" placeholder="Id de Proveedor" ng-model="modId">
						</div>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
							<button type="submit" ng-click="buscarProveedor()"class="btn btn-success">Buscar</button>
						</div>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre del proveedor</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" class="form-control" placeholder="Nombre del proveedor" ng-model="modDescripcion" value="{{modi.descripcion}}">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">RUC</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" class="form-control" placeholder="RUC" ng-model="modRuc" value="{{modi.ruc}}">
						</div>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
							<button type="submit" ng-click="modificarProveedor()"class="btn btn-success">Modificar</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div class="col-md-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Eliminar Proveedores</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br />
				<form novalidate class="form-horizontal form-label-left" method="post" ng-controller="proveedorController">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Id Proveedor</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
								<input type="text" class="form-control" placeholder="Id de Proveedor" ng-model="delId">
						</div>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
							<button type="submit" ng-click="eliminarProveedor()"class="btn btn-success">Eliminar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
<!-- /page content -->
<div footer></div>
