<div menu></div>
<div header></div>
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<div class="page-title">
						<div class="title_left col-md-5 col-sm-5 col-xs-6">
	            <h2>Reservas</h2>
	          </div>
						<div class="title_right">
	            <div class="col-md-3 col-sm-3 col-xs-6 form-group pull-right top_search">
	              <div class="input-group">
	                <input type="text" class="form-control" placeholder="Search for..."  ng-model="nombrexBuscar">
	                <span class="input-group-btn">
	                  <button class="btn btn-default" ng-click="getDeudas()" type="button">Go!</button>
	                </span>
	              </div>
	            </div>
	          </div>
					</div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-xs-12">
								<h2 class="line_30"></h2>
								<br>
								<table class="countries_list">
									<thead>
										<tr>
											<td><strong>Residente</strong></td>
											<td class="fs15 fw700 text-right"><strong>Cédula</strong></td>
											<td><strong>Area</strong></td>
											<td class="fs15 fw700 text-right"><strong>Fecha de Solicitud</strong></td>
											<td class="fs15 fw700 text-right"><strong>Fecha de Reserva</strong></td>
											<td><strong>Acciones</strong></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in data">
											<td>{{item.nombre}}</td>
											<td class="fs15 fw700 text-right">{{item.cedula}}</td>
											<td>{{item.descripcion}}</td>
											<td class="fs15 fw700 text-right">{{item.fecha_solicitud}}</td>
											<td class="fs15 fw700 text-right">{{item.fecha_reserva}}</td>
											<td><button class="btn btn-primary" ng-click="buscarPreReserva(item.id)">Pagar</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
<div footer></div>
