<div menu></div>
<div header></div>
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">

			<div class="x_panel">
				<div class="x_title">
					<h2>Listados de Roles</h2>
							<div class="navbar-right">
								<a class="btn btn-primary" type="submit" ng-click="nuevo()" href="#!/crearRol">Nuevo Rol</a>
							</div>
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-xs-12">
							<h2 class="line_30"></h2>
							<br>
							<table class="countries_list">
								<thead>
									<tr>
										<td>Id</td>
										<td><strong>Nombre de Rol</strong></td>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in data">
										<td style="width:40px">{{item.id}}</td>
										<td>{{item.descripcion}}</td>
										<td class="text-center">


											<a  class="btn btn-primary" type="submit" ng-click="buscarRol(item.id)"  href="#!/crearRol">Editar</a>
											<button class="btn btn-danger" ng-click="eliminarRol(item.id)">Eliminar</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>






</div>
</div>

<!-- /page content -->
<div footer></div>
