<div menu></div>
<div header></div>
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Listados de Usuarios</h2>
					<a href="#!/usuariose" class="navbar-right"><button type="button" click-on="getUsuariose()"" class="btn btn-warning">Usuarios Eliminados</button></a>
					<a href="#!/insertarusuario" class="navbar-right"><button type="button" ng-click="clearForm()" class="btn btn-success">Añadir Usuario</button></a>
					
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-xs-12">
							<h2 class="line_30"></h2>
							<br>
							<table class="countries_list">
								<thead>
									<tr>
										<td>Id</td>
										<td class="text-center fs15 fw700 text-right"><strong>Usuario</strong></td>
										<td class="text-center"><strong>Nombre</strong></td>
										<td class="text-center"><strong>Apellido</strong></td>
										<td class="text-center"><strong>Estado</strong></td>
										<td class="text-center"><strong>Rol</strong></td>
										<td class="text-center"><strong>Acciones</strong></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in data">
										<td style="width:40px">{{item.id}}</td>
										<td class="text-center">{{item.nombre_usuario}}</td>

										<td class="text-center">{{item.primer_nombre}}</td>
										<td class="text-center">{{item.primer_apellido}}</td>

										<td class="text-center">{{item.estado}}</td>
										<td class=" text-center fs15 fw700 text-right">{{item.descripcion}}</td>
										<td class="text-center">
											
										<a href="#!/editarusuario" class=""><button class="btn btn-primary" ng-click="buscarUsuario(item.id)">Editar</button></a>
											<button class="btn btn-danger" ng-click="eliminarUsuario(item.id)">Eliminar</button>
										</td>
									</tr>
								</tbody>
							</table>

							<div class="ln_solid"></div>
							<div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          
                          
                        </div>
                      </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	


</div>
<!-- /page content -->
<div footer></div>
