<div menu></div>
<div header></div>
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-10">
							<h2>Gastos Pendientes</h2>
						</div>
						<div class="col-xs-6 col-sm-2 col-md-2">
							<a href="#!/form_gastos" class="btn btn-success">Nuevo</a>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-xs-12">
								<h2 class="line_30"></h2>
								<br>
								<table class="countries_list">
									<thead>
										<tr>
											<td><strong>Descripción</strong></td>
											<td class="fs15 fw700 text-right"><strong>Fecha</strong></td>
											<td class="fs15 fw700 text-right"><strong>Total a Pagar</strong></td>
											<td class="fs15 fw700 text-right"><strong>Nombre de la Empresa</strong></td>
											<td class="fs15 fw700 text-center"><strong>Acciones</strong></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in data">
											<td>{{item.descripcion}}</td>
											<td class="fs15 fw700 text-right">{{item.fecha}}</td>
											<td class="fs15 fw700 text-right">{{item.total}}</td>
											<td class="fs15 fw700 text-right">{{item.nombre_proveedor}}</td>
											<td class="text-center">
												<button class="btn btn-primary" ng-click="buscarCuentaxpagar(item.id)">Editar</button>
												<button class="btn btn-danger" ng-click="eliminarCuentaxpagar(item.id)">Eliminar</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
<div footer></div>
<script>
	$('#myDatepicker').datetimepicker();

	$('#myDatepicker2').datetimepicker({
		format: 'DD.MM.YYYY'
	});

	$('#myDatepicker3').datetimepicker({
		format: 'hh:mm A'
	});

	$('#myDatepicker4').datetimepicker({
		ignoreReadonly: true,
		allowInputToggle: true
	});

	$('#datetimepicker6').datetimepicker();

	$('#datetimepicker7').datetimepicker({
		useCurrent: false
	});

	$("#datetimepicker6").on("dp.change", function(e) {
		$('#datetimepicker7').data("DateTimePicker").minDate(e.date);
	});

	$("#datetimepicker7").on("dp.change", function(e) {
		$('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
	});
</script>